<div class="huayra-track-id">
  <p>ID: {{track.id}} </p>
  <p>SOUND: {{track.sound}}</p>
</div>

{{#each track.steps as |step index|}}
  {{huayra-step index=index player=player sound=track.sound step=step}}
{{/each}}
