{{#if model}}

<table class="uk-table uk-table-hover">
  <caption>Mis proyectos anteriores:</caption>
  <thead>
    <tr>
        <th>Título del ritmo</th>
        <th class="actions-column">Acciones</th>
    </tr>
  </thead>

  <tbody>

    {{#each model as |pattern|}}
      <tr>

        {{#link-to "pattern" pattern tagName="td" class="clickeable"}}<a> {{pattern.title}} </a>{{/link-to}}

        <td>
          {{#link-to "pattern" pattern tagName="button" class="uk-button uk-button-mini"}} Abrir para editar {{/link-to}}
          <button class="uk-button uk-button-danger uk-button-mini" {{action "delete" pattern}}> Eliminar </button>
        </td>
      </tr>
    {{/each}}

  </tbody>

</table>


{{else}}

  <p>No hay proyectos creados aún ...</p>

{{/if}}
