<h3>Mis Proyectos:</h3>

{{#if model}}

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Título</th>
        <th class='actions'>Acciones</th>
      </tr>
    </thead>

    <tbody>

    {{#each model as |pattern|}}
      <tr>
        <td>{{#link-to "pattern" pattern}} {{pattern.title}} {{/link-to}}</td>
        <td class='actions'><button class="btn btn-xs btn-danger" {{action "delete" pattern}}> eliminar </button></td>
      </tr>
    {{/each}}

    </tbody>
  </table>


{{else}}

  <p>No hay proyectos creados aún ...</p>

{{/if}}
