<p {{action (showModal "modals/huayra-prompt"
		title="Ingrese el nuevo título"
		value=value
		accept=(action "accept")
		cancel=(action "cancel")
	)}}>
	Título: {{value}}
	{{#if unsaved}}<sup title="Hay cambios sin guardar">*</sup>{{/if}}
</p>
