<div class="row">
  <div class="col-xs-4">
    <div class="sound-category">
      {{#each category in categories}}
        <a href {{action "selectCategory" category}} class="list-group-item">{{category}}</a>
      {{/each}}
    </div>
  </div>

  <div class="col-xs-8">
    {{#each sound in soundsInThisCategory}}
      <a href {{action "select" sound}} class="list-group-item">{{sound.title}}</a>
    {{/each}}
  </div>
</div>
