<div class="huayra-track-id">
  {{huayra-sound-switch value=track.enabled}}

  <p class='hidden'>ID: {{track.id}} </p>
  <p>SOUND: {{track.sound}}</p>

</div>

{{#each track.steps as |step index|}}
  {{huayra-step index=index player=player sound=track.sound step=step}}
{{/each}}
