<div class="row">
  <div class="col-xs-4">
    <div class="sound-category">
      Básicos
    </div>
  </div>

  <div class="col-xs-8">
    {{#each sound in sounds}}
      <a href {{action "select" sound}} class="list-group-item">{{sound.title}}</a>
    {{/each}}
  </div>
</div>
