{{#if model}}

<table class="ui celled table">
  <thead>
    <tr>
        <th>Título del ritmo</th>
        <th class="actions-column">Acciones</th>
    </tr>
  </thead>

  <tbody>

    {{#each model as |pattern|}}
      <tr>

        {{#link-to "pattern" pattern tagName="td" class="clickeable"}}<a> {{pattern.title}} </a>{{/link-to}}

        <td>
          {{#link-to "pattern" pattern tagName="button" class="ui button mini"}} Abrir para editar {{/link-to}}
          <button class="ui button mini red"
          {{action
            (showModal "modals/huayra-srsly" accion="borrar este proyecto" ok=(action "delete" pattern))
          }}> Eliminar </button>
        </td>
      </tr>
    {{/each}}

  </tbody>

</table>


{{else}}

  <p>No hay proyectos creados aún ...</p>

{{/if}}
