<div class="ui grid">
  <div class="three wide column">
      <div class="ui vertical fluid tabular menu">
        {{#each categories as |category|}}
          <a href class="item" {{action "selectCategory" category}}>{{category}}</a>
        {{/each}}
      </div>
  </div>

  <div class="thirteen wide column">
    <table class="ui table">
      {{#each soundsInThisCategory as |sound|}}
        <tr>
          <td href {{action "select" sound}} class="clickeable list-group-item">{{sound.title}}</td>
        </tr>
      {{/each}}
    </table>
  </div>
</div>
