<p {{action (showModal "modals/huayra-prompt"
		title="Ingrese el nuevo título"
		value=value
		accept=(action "accept")
		cancel=(action "cancel")
		notes=(action "notas")
		validator=(action "validate")
	)}}>
	Título: {{value}}
	{{#if unsaved}}<span title="Hay cambios sin guardar">*</span>{{/if}}
</p>
