/* TODO: Revisar huayra-player-handler y huayra-bpm-step para el botón de grabar */


html, body {
  margin: 20px;
}

.uk-button {
  font-size: 13px !important;
}

body {
  overflow-x: scroll;
  overflow-y: scroll;
  background-color: transparent !important;
}

h1, h2, h3, h4, h5, h6, p {
  //font-family: "Roboto" !important;
}

h1, h2, h3 {
  font-weight: 100 !important;
}

h2 small {
  font-weight: 100 !important;
}


a.active {
}


.huayra-step {
  color: red;
}

.huayra-track {
  position: relative;
  margin-bottom: 32px;
}

.huayra-track-id {
  width: 100px;
  font-size: x-small;
  background-color: rgb(229, 229, 229);
  position: absolute;
  border-radius: 8px;
}

.huayra-track-step-container {
  position: relative;
  left: 110px;
  top: 7px;
}

/* Colores de pistas */
.color-picker{
  margin-top:20px;
}
.huayra-track-color-picker {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display:inline-block;
  width:23px;
  height:23px;
  border:1px solid #fff;
  cursor:pointer;
}

.huayra-track-seleccionado {
  box-shadow: 0px 0px 10px 2px;
}

/* Verde */
.huayra-track-picker-verde,
.huayra-track-id.huayra-track-verde {
  color: #2ca089;
  background-color: #2ca089 !important;
}
.huayra-track-id.huayra-track-verde .huayra-sound-switch button,
.huayra-track-id.huayra-track-verde .huayra-track-ix,
.huayra-track-id.huayra-track-verde .huayra-track-name {
  color: #d5fff6;
  background-color: #2ca089 !important;
}

.huayra-track-step-container.huayra-track-verde .step-active {
  background-color: #2ca089!important;
  border-color: #217867 !important;
}

/* Amarillo */
.huayra-track-picker-amarillo,
.huayra-track-id.huayra-track-amarillo {
  color: #F2D600;
  background-color: #F2D600 !important;
}
.huayra-track-id.huayra-track-amarillo .huayra-sound-switch button,
.huayra-track-id.huayra-track-amarillo .huayra-track-ix,
.huayra-track-id.huayra-track-amarillo .huayra-track-name {
  color:#000;
  background-color: #F2D600 !important;
}

.huayra-track-step-container.huayra-track-amarillo .step-active {
  background-color: #F2D600 !important;
  border-color: #F29700 !important;
}

/* Naranja */
.huayra-track-picker-naranja,
.huayra-track-id.huayra-track-naranja {
  color: #FFAB4A;
  background-color: #FFAB4A !important;
}
.huayra-track-id.huayra-track-naranja .huayra-sound-switch button,
.huayra-track-id.huayra-track-naranja .huayra-track-ix,
.huayra-track-id.huayra-track-naranja .huayra-track-name {
  color:#000;
  background-color: #FFAB4A !important;
}

.huayra-track-step-container.huayra-track-naranja .step-active {
  background-color: #FFAB4A !important;
  border-color: #FF674A !important;
}


/* Rojo */
.huayra-track-picker-rojo,
.huayra-track-id.huayra-track-rojo {
  color: #EB5A46;
  background-color: #EB5A46 !important;
}
.huayra-track-id.huayra-track-rojo .huayra-sound-switch button,
.huayra-track-id.huayra-track-rojo .huayra-track-ix,
.huayra-track-id.huayra-track-rojo .huayra-track-name {
  color:#000;
  background-color: #EB5A46 !important;
}

.huayra-track-step-container.huayra-track-rojo .step-active {
  background-color: #EB5A46 !important;
  border-color: #B11500 !important;
}

/* Violeta */
.huayra-track-picker-violeta,
.huayra-track-id.huayra-track-violeta {
  color: #C377E0;
  background-color: #C377E0 !important;
}
.huayra-track-id.huayra-track-violeta .huayra-sound-switch button,
.huayra-track-id.huayra-track-violeta .huayra-track-ix,
.huayra-track-id.huayra-track-violeta .huayra-track-name {
  color:#fff;
  background-color: #C377E0 !important;
}

.huayra-track-step-container.huayra-track-violeta .step-active {
  background-color: #C377E0 !important;
  border-color: #4C0069 !important;
}

/* Azul */
.huayra-track-picker-azul,
.huayra-track-id.huayra-track-azul {
  color: #0079BF;
  background-color: #0079BF !important;
}

.huayra-track-id.huayra-track-azul .huayra-sound-switch button,
.huayra-track-id.huayra-track-azul .huayra-track-ix,
.huayra-track-id.huayra-track-azul .huayra-track-name {
  color:#fff;
  background-color: #0079BF !important;
}

.huayra-track-step-container.huayra-track-azul .step-active {
  background-color: #0079BF !important;
  border-color: #00446D !important;
}
/* fin de colores*/

.huayra-track-id .huayra-sound-switch {
  top: 0;
  right: 0;
}

.huayra-track-id .huayra-sound-switch button {
  border-radius: 0 8px 0 8px;
  padding: 2px 4px 2px 5px;
}

.huayra-track-id .huayra-sound-switch button.btn-danger {
  padding: 3px 6px 3px 6px;
  border: 0;
}

p.huayra-track-ix {
  width: 22px;
  padding: 6px 0 5px 8px;
  border-radius: 8px 0 8px 0;
}
p.huayra-track-name {
  width: auto;
  padding: 4px;
  margin-bottom: 0;
  border-radius: 0 0 8px 8px;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid #006f9d;
  border-left-width: 1px;
  border-right-width: 1px;
  height: 30px;
  width: 12px;
  border-radius: 5px;
  background: #22beff;
  cursor: pointer;
  margin-top: -12px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: -webkit-linear-gradient(left, #006f9d 0%,#75d6ff 50%,#006f9d 100%);
  border-radius: 1.3px;
  border: 0;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: -webkit-linear-gradient(left, #006f9d 0%,#75d6ff 50%,#7db9e8 100%);
}


* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

.step {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 7px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 9px 12px 7px;
  border-width: 0 1px 4px 1px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;

  width: 30px;
  height: 30px;
}



.step-active {
  outline: 0;
  outline: 0;
  outline-offset: 0;
  border-top: 2px solid rgb(11, 68, 55);
  border-bottom: 0;
}

.step-playing {
  box-shadow: 0 0 10px red !important;
}

.step:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.step:hover {
  color: #555555;
  text-decoration: none;
}

.step:active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}


.step-default:focus {
  color: #555555;
  background-color: #d5d5d5;
  border-color: #a2a2a2;
}

.step-default {
  color: #555555;
  background-color: rgb(189, 177, 152);
  border-color: rgb(155, 149, 110);
}

.step-default:hover {
  color: #555555;
  background-color: rgb(168, 158, 137);
  border-color: rgb(129, 124, 92);
}

.step-default:active {
  background-color: #d5d5d5;
  border-color: #c3c3c3;
}

.step-default:active:hover {
  background-color: #c3c3c3;
  border-color: #a2a2a2;
}




.step-variant {
  background-color: #DFDFDF !important;
  border-color: #B8B8B8 !important;
}

.step-variant:hover {
  background-color: #C7C7C7 !important;
  border-color: #A6A6A6 !important;
}

.step-variant.step-active {
  background-color: #1C8C20 !important;
  border-color: #166B19 !important;
}

.step-default.step-active {
  background-color: #1C8C20 !important;
  border-color: #166B19 !important;
}

.huayra-player {
  padding: 20px;
  padding-left: 0;
}


.huayra-player-ui{
    display:block;
    clear:both;
    height:50px;
}

.huayra-player-handler {
  display: inline-block;
  /*
  width: 100px;
  font-size: x-small;
  */
}

/*
span.huayra-player-bpm,
span.huayra-player-step {
  color: #d7f4ee;
  background-color: #004455;
}
*/

.huayra-player-bpm-step{
  color: #d7f4ee;
  background-color: #004455;
  height:43px;
  padding: 8px;
  border-radius: 5px;
  display:inline-block;
}

span.huayra-player-bpm {
  padding: 5px 8px 7px 8px;
  border-radius: 8px 0 0 8px;
  margin-right: 0;
}

span.huayra-player-bpm .adjustable-number {
  border-bottom: 1px dashed #d7f4ee !important;
  color: #d7f4ee;
}

span.huayra-player-step {
  padding: 5px 8px 7px 8px;
  border-radius: 0 8px 8px 0;
  margin-left: -4px;
}

div.slider {
  width: 300px;
  display: inline-block;
}


.huayra-sound-switch {
  position: absolute;
  right: 3px;
  top: 3px;
}

.hidden {
  display: none;
}


.buttons {
  padding: 10px;
}


.modal {
  transition: opacity 0.1s, transform 0.2s !important;
  display: block !important;
  top: 30px !important;
  bottom: 30px !important;
}

.overlay {
  background: rgba(0, 0, 0, 0.5) !important;
}


.titulo {
  margin: 0;
  padding: 0;
  line-height: 3;
  padding-left: 20px;
  padding-right: 20px;
}

.version {
  display: block;
  float: right;
  padding-top: 75px;
  font-size: 1em;
  color: gray;
  //font-family: "Roboto" !important;
  font-weight: 300;
}

.main-content {
  padding-top: 30px;
}

.huayra-project-list-container {
  margin-top: 20px;
}


.huayra-project-list-container h3 {
  height: 30px;
  font-size: 1.2em;
  font-weight: 400 !important;
}

.huayra-modal-title {
  height: 30px;
  font-size: 1.2em;
  font-weight: 300 !important;
  margin-top: 5px;
}

.huayra-project-list-container table tbody tr {
}

.huayra-project-list-container table tbody tr td {
  border: 0;
  padding: 5px 0 4px 4px;
  margin: 8px 0;
}

.huayra-project-list-container table tbody tr td a {
  color: black;
  margin-left: 12px;
  text-decoration: none !important;
}

.huayra-title-editable-container,
.huayra-modal-track-title {
  display: block;
  margin: 10px 0;
  padding: 0;
  font-size: 1.2em;
  font-weight: 200 !important;
  width: 100%;
  vertical-align: middle;
}

.huayra-title-editable-container:hover {
    content: 'ADD';
}


.huayra-modal-track-title {
  width: 100%;
}

.huayra-title-editable-container:hover {
  /*border-bottom: 1px dotted blue;*/
  cursor: pointer;
}

.huayra-title-editable-container .project-item-bullet {
  margin-top: 4px;
}

.project-title {
  margin-left: 10px;
}

.huayra-track-actions {
  display: inline-block;
}

.vaca-warning {
  position: absolute;
  width: 213px;
  height: 165px;
  background: url("../img/vaca-warning.png") no-repeat center center;
  bottom: 0;
  right: 0;
}

body {
  overflow-x: hidden;
}

a.list-group-item:focus {
  color: rgb(13, 13, 16) !important;
  background-color: rgb(255, 177, 137) !important;
}


.list-group-item {
  border: 1px solid #C2C2C2 !important;
}

.ember-sound-selector {
  overflow: hidden;
  overflow-y: scroll;
  border: 1px solid rgb(203, 203, 203);
  padding: 7px;
  height: calc(100% - 152px);
  background-color: rgb(237, 237, 237);
}


.center {
  text-align:center;
}

.padding {
  padding: 20px;
}

th.actions {
  width: 200px;
}

td.actions {
  text-align: center;
}


.cursor-pointer {
  cursor: pointer;
}

.bottom-bar {
  position: absolute;
  bottom: 20px;
}


.vaca-warning {
  z-index: -1;
}


.ember-modal-overlay.translucent {
  background-color: rgba(47, 47, 47, 0.77) !important;
}


.ember-modal-dialog {
  border-radius: 0px !important;
  padding-bottom: 56px;
}

.ember-modal-dialog {
  /* left: 50%; */
  /* top: 50%; */
  margin-left: 0px !important;
  margin-top: 0px !important;
  /* width: 100%; */
  /* height: 100%; */
  left: 2em !important;
  right: 2em !important;
  top: 2em !important;
  bottom: 2em !important;
}

.sound-category {
  position: fixed;
}




@-moz-keyframes three-quarters-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes three-quarters-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes three-quarters-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* :not(:required) hides this rule from IE9 and below */
.three-quarters-loader:not(:required) {
  -moz-animation: three-quarters-loader 1250ms infinite linear;
  -webkit-animation: three-quarters-loader 1250ms infinite linear;
  animation: three-quarters-loader 1250ms infinite linear;
  border: 8px solid #38e;
  border-right-color: transparent;
  border-radius: 16px;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  width: 32px;
  height: 32px;
}


.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 200px;
  height: 100px;
  text-align: center;
}

.sound-category {
  position: absolute;
  right: 0;
  left: 20px;
}


.modal-close-btn{
  float:right;
  background:transparent;
  border:0;
  color:#000;
}

.btn-step-sm {
    color:#fff;
    border:0;
    background:#6a6a6a;
    padding:3px !important;
    display:inline-block;
    min-width:20px;
}

.step.disabled,
.step-disabled{
    opacity: 0.5;
    background-color: #f1f1f1 !important;
    border-color: #ccc !important;
}

.userprefix-dir{
    min-height:35px !important;
    height:35px !important;
    max-height:35px !important;
}


.actions-column {
  width: 200px;
}

.clickeable {
  cursor: pointer;
}

.button-fixed-width-sm {
  width: 90px;
}


.huayra-new-track-container {
  margin-top: 4em;
}

#defaultCanvas {
  display: none;
}
