.step {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 7px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.step:focus,
.step:active:focus,
.step.active:focus,
.step.focus,
.step:active.focus,
.step.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.step:hover,
.step:focus,
.step.focus {
  color: #555555;
  text-decoration: none;
}
.step:active,
.step.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.step.disabled,
.step[disabled],
fieldset[disabled] .step {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
a.step.disabled,
fieldset[disabled] a.step {
  pointer-events: none;
}
.step-default {
  color: #555555;
  background-color: #eeeeee;
  border-color: #e2e2e2;
}
.step-default:focus,
.step-default.focus {
  color: #555555;
  background-color: #d5d5d5;
  border-color: #a2a2a2;
}
.step-default:hover {
  color: #555555;
  background-color: #d5d5d5;
  border-color: #c3c3c3;
}
.step-default:active,
.step-default.active,
.open > .dropdown-toggle.step-default {
  color: #555555;
  background-color: #d5d5d5;
  border-color: #c3c3c3;
}
.step-default:active:hover,
.step-default.active:hover,
.open > .dropdown-toggle.step-default:hover,
.step-default:active:focus,
.step-default.active:focus,
.open > .dropdown-toggle.step-default:focus,
.step-default:active.focus,
.step-default.active.focus,
.open > .dropdown-toggle.step-default.focus {
  color: #555555;
  background-color: #c3c3c3;
  border-color: #a2a2a2;
}
.step-default:active,
.step-default.active,
.open > .dropdown-toggle.step-default {
  background-image: none;
}
.step-default.disabled,
.step-default[disabled],
fieldset[disabled] .step-default,
.step-default.disabled:hover,
.step-default[disabled]:hover,
fieldset[disabled] .step-default:hover,
.step-default.disabled:focus,
.step-default[disabled]:focus,
fieldset[disabled] .step-default:focus,
.step-default.disabled.focus,
.step-default[disabled].focus,
fieldset[disabled] .step-default.focus,
.step-default.disabled:active,
.step-default[disabled]:active,
fieldset[disabled] .step-default:active,
.step-default.disabled.active,
.step-default[disabled].active,
fieldset[disabled] .step-default.active {
  background-color: #eeeeee;
  border-color: #e2e2e2;
}
.step-default .badge {
  color: #eeeeee;
  background-color: #555555;
}
.step-primary {
  color: #ffffff;
  background-color: #158cba;
  border-color: #127ba3;
}
.step-primary:focus,
.step-primary.focus {
  color: #ffffff;
  background-color: #106a8c;
  border-color: #052531;
}
.step-primary:hover {
  color: #ffffff;
  background-color: #106a8c;
  border-color: #0c516c;
}
.step-primary:active,
.step-primary.active,
.open > .dropdown-toggle.step-primary {
  color: #ffffff;
  background-color: #106a8c;
  border-color: #0c516c;
}
.step-primary:active:hover,
.step-primary.active:hover,
.open > .dropdown-toggle.step-primary:hover,
.step-primary:active:focus,
.step-primary.active:focus,
.open > .dropdown-toggle.step-primary:focus,
.step-primary:active.focus,
.step-primary.active.focus,
.open > .dropdown-toggle.step-primary.focus {
  color: #ffffff;
  background-color: #0c516c;
  border-color: #052531;
}
.step-primary:active,
.step-primary.active,
.open > .dropdown-toggle.step-primary {
  background-image: none;
}
.step-primary.disabled,
.step-primary[disabled],
fieldset[disabled] .step-primary,
.step-primary.disabled:hover,
.step-primary[disabled]:hover,
fieldset[disabled] .step-primary:hover,
.step-primary.disabled:focus,
.step-primary[disabled]:focus,
fieldset[disabled] .step-primary:focus,
.step-primary.disabled.focus,
.step-primary[disabled].focus,
fieldset[disabled] .step-primary.focus,
.step-primary.disabled:active,
.step-primary[disabled]:active,
fieldset[disabled] .step-primary:active,
.step-primary.disabled.active,
.step-primary[disabled].active,
fieldset[disabled] .step-primary.active {
  background-color: #158cba;
  border-color: #127ba3;
}
.step-primary .badge {
  color: #158cba;
  background-color: #ffffff;
}
.step-success {
  color: #ffffff;
  background-color: #28b62c;
  border-color: #23a127;
}
.step-success:focus,
.step-success.focus {
  color: #ffffff;
  background-color: #1f8c22;
  border-color: #0c390e;
}
.step-success:hover {
  color: #ffffff;
  background-color: #1f8c22;
  border-color: #186f1b;
}
.step-success:active,
.step-success.active,
.open > .dropdown-toggle.step-success {
  color: #ffffff;
  background-color: #1f8c22;
  border-color: #186f1b;
}
.step-success:active:hover,
.step-success.active:hover,
.open > .dropdown-toggle.step-success:hover,
.step-success:active:focus,
.step-success.active:focus,
.open > .dropdown-toggle.step-success:focus,
.step-success:active.focus,
.step-success.active.focus,
.open > .dropdown-toggle.step-success.focus {
  color: #ffffff;
  background-color: #186f1b;
  border-color: #0c390e;
}
.step-success:active,
.step-success.active,
.open > .dropdown-toggle.step-success {
  background-image: none;
}
.step-success.disabled,
.step-success[disabled],
fieldset[disabled] .step-success,
.step-success.disabled:hover,
.step-success[disabled]:hover,
fieldset[disabled] .step-success:hover,
.step-success.disabled:focus,
.step-success[disabled]:focus,
fieldset[disabled] .step-success:focus,
.step-success.disabled.focus,
.step-success[disabled].focus,
fieldset[disabled] .step-success.focus,
.step-success.disabled:active,
.step-success[disabled]:active,
fieldset[disabled] .step-success:active,
.step-success.disabled.active,
.step-success[disabled].active,
fieldset[disabled] .step-success.active {
  background-color: #28b62c;
  border-color: #23a127;
}
.step-success .badge {
  color: #28b62c;
  background-color: #ffffff;
}
.step-info {
  color: #ffffff;
  background-color: #75caeb;
  border-color: #5fc1e8;
}
.step-info:focus,
.step-info.focus {
  color: #ffffff;
  background-color: #48b9e5;
  border-color: #1984ae;
}
.step-info:hover {
  color: #ffffff;
  background-color: #48b9e5;
  border-color: #29ade0;
}
.step-info:active,
.step-info.active,
.open > .dropdown-toggle.step-info {
  color: #ffffff;
  background-color: #48b9e5;
  border-color: #29ade0;
}
.step-info:active:hover,
.step-info.active:hover,
.open > .dropdown-toggle.step-info:hover,
.step-info:active:focus,
.step-info.active:focus,
.open > .dropdown-toggle.step-info:focus,
.step-info:active.focus,
.step-info.active.focus,
.open > .dropdown-toggle.step-info.focus {
  color: #ffffff;
  background-color: #29ade0;
  border-color: #1984ae;
}
.step-info:active,
.step-info.active,
.open > .dropdown-toggle.step-info {
  background-image: none;
}
.step-info.disabled,
.step-info[disabled],
fieldset[disabled] .step-info,
.step-info.disabled:hover,
.step-info[disabled]:hover,
fieldset[disabled] .step-info:hover,
.step-info.disabled:focus,
.step-info[disabled]:focus,
fieldset[disabled] .step-info:focus,
.step-info.disabled.focus,
.step-info[disabled].focus,
fieldset[disabled] .step-info.focus,
.step-info.disabled:active,
.step-info[disabled]:active,
fieldset[disabled] .step-info:active,
.step-info.disabled.active,
.step-info[disabled].active,
fieldset[disabled] .step-info.active {
  background-color: #75caeb;
  border-color: #5fc1e8;
}
.step-info .badge {
  color: #75caeb;
  background-color: #ffffff;
}
.step-warning {
  color: #ffffff;
  background-color: #ff851b;
  border-color: #ff7701;
}
.step-warning:focus,
.step-warning.focus {
  color: #ffffff;
  background-color: #e76b00;
  border-color: #813c00;
}
.step-warning:hover {
  color: #ffffff;
  background-color: #e76b00;
  border-color: #c35b00;
}
.step-warning:active,
.step-warning.active,
.open > .dropdown-toggle.step-warning {
  color: #ffffff;
  background-color: #e76b00;
  border-color: #c35b00;
}
.step-warning:active:hover,
.step-warning.active:hover,
.open > .dropdown-toggle.step-warning:hover,
.step-warning:active:focus,
.step-warning.active:focus,
.open > .dropdown-toggle.step-warning:focus,
.step-warning:active.focus,
.step-warning.active.focus,
.open > .dropdown-toggle.step-warning.focus {
  color: #ffffff;
  background-color: #c35b00;
  border-color: #813c00;
}
.step-warning:active,
.step-warning.active,
.open > .dropdown-toggle.step-warning {
  background-image: none;
}
.step-warning.disabled,
.step-warning[disabled],
fieldset[disabled] .step-warning,
.step-warning.disabled:hover,
.step-warning[disabled]:hover,
fieldset[disabled] .step-warning:hover,
.step-warning.disabled:focus,
.step-warning[disabled]:focus,
fieldset[disabled] .step-warning:focus,
.step-warning.disabled.focus,
.step-warning[disabled].focus,
fieldset[disabled] .step-warning.focus,
.step-warning.disabled:active,
.step-warning[disabled]:active,
fieldset[disabled] .step-warning:active,
.step-warning.disabled.active,
.step-warning[disabled].active,
fieldset[disabled] .step-warning.active {
  background-color: #ff851b;
  border-color: #ff7701;
}
.step-warning .badge {
  color: #ff851b;
  background-color: #ffffff;
}
.step-danger {
  color: #ffffff;
  background-color: #ff4136;
  border-color: #ff291c;
}
.step-danger:focus,
.step-danger.focus {
  color: #ffffff;
  background-color: #ff1103;
  border-color: #9c0900;
}
.step-danger:hover {
  color: #ffffff;
  background-color: #ff1103;
  border-color: #de0c00;
}
.step-danger:active,
.step-danger.active,
.open > .dropdown-toggle.step-danger {
  color: #ffffff;
  background-color: #ff1103;
  border-color: #de0c00;
}
.step-danger:active:hover,
.step-danger.active:hover,
.open > .dropdown-toggle.step-danger:hover,
.step-danger:active:focus,
.step-danger.active:focus,
.open > .dropdown-toggle.step-danger:focus,
.step-danger:active.focus,
.step-danger.active.focus,
.open > .dropdown-toggle.step-danger.focus {
  color: #ffffff;
  background-color: #de0c00;
  border-color: #9c0900;
}
.step-danger:active,
.step-danger.active,
.open > .dropdown-toggle.step-danger {
  background-image: none;
}
.step-danger.disabled,
.step-danger[disabled],
fieldset[disabled] .step-danger,
.step-danger.disabled:hover,
.step-danger[disabled]:hover,
fieldset[disabled] .step-danger:hover,
.step-danger.disabled:focus,
.step-danger[disabled]:focus,
fieldset[disabled] .step-danger:focus,
.step-danger.disabled.focus,
.step-danger[disabled].focus,
fieldset[disabled] .step-danger.focus,
.step-danger.disabled:active,
.step-danger[disabled]:active,
fieldset[disabled] .step-danger:active,
.step-danger.disabled.active,
.step-danger[disabled].active,
fieldset[disabled] .step-danger.active {
  background-color: #ff4136;
  border-color: #ff291c;
}
.step-danger .badge {
  color: #ff4136;
  background-color: #ffffff;
}
.step-link {
  color: #158cba;
  font-weight: normal;
  border-radius: 0;
}
.step-link,
.step-link:active,
.step-link.active,
.step-link[disabled],
fieldset[disabled] .step-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.step-link,
.step-link:hover,
.step-link:focus,
.step-link:active {
  border-color: transparent;
}
.step-link:hover,
.step-link:focus {
  color: #158cba;
  text-decoration: underline;
  background-color: transparent;
}
.step-link[disabled]:hover,
fieldset[disabled] .step-link:hover,
.step-link[disabled]:focus,
fieldset[disabled] .step-link:focus {
  color: #999999;
  text-decoration: none;
}
.step-lg,
.step-group-lg > .step {
  padding: 13px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 5px;
}
.step-sm,
.step-group-sm > .step {
  padding: 4px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 2px;
}
.step-xs,
.step-group-xs > .step {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 2px;
}
.step-block {
  display: block;
  width: 100%;
}
.step-block + .step-block {
  margin-top: 5px;
}
input[type="submit"].step-block,
input[type="reset"].step-block,
input[type="button"].step-block {
  width: 100%;
}
