<h1 data-test="modal-title" class="huayra-modal-title">Propiedades de la pista</h1>

<p class="huayra-modal-track-title">
  Título: {{modal.model.track.sound}}
</p>

  <div class='slider'>
    Volúmen global: {{x-slider min=0 max=1 step=0.05 value=modal.model.track.volume}}
  </div>

<div class="bottom-bar">
  <button class='btn btn-danger' {{action "remove"}}> Eliminar pista</button>
</div>
