{{!-- All content below is used for testing --}}

<h1 data-test="modal-title">Crear una pista</h1>

{{huayra-sound-selector onSelect="onSelectSound"}}

<button disabled={{emptySelection}} class='btn btn-success' {{action "accept"}}> Agregar</button>
