{{#modal-dialog
  close="closeEditTrackModal"
  targetAttachment="center"
  translucentOverlay=true}}

<button class="close ui button mini" {{action "closeEditTrackModal"}} data-test="modal-close" data-ember-action="742">
  <span><i class="close icon"></i></span>
</button>

{{huayra-edit-track track=currentModalTrack onSave="saveTrack" onRemove="removeTrack"}}

{{/modal-dialog}}
