{{#modal-dialog
    close="closeAboutModal"
    targetAttachment="center"
    translucentOverlay=true}}

    <button class="close ui button mini" {{action "closeAboutModal"}} data-test="modal-close" data-ember-action="742">
      <span><i class="close icon"></i></span>
    </button>

    <h1 data-test="modal-title" class="huayra-modal-title">Acerca de ...</h1>

    <p class='item-version'>Versión: {{app-version}}</p>

    <div>
      <p>Huayra Ritmos es una aplicación para definir patrones rítmicos,
      componer ritmos de batería, música electrónica y más.
      </p>

      <p>El proyecto ha sido desarrollo por el equipo de desarrollo
        de <a href target="_blank" {{action "abrirSitioDeHuayra"}}>Huayra GNU/Linux</a>.</p>

    </div>

    <div class="bottom-bar">
      <button class='ui button' {{action "closeAboutModal"}}>Aceptar</button>
    </div>


    {{/modal-dialog}}
