{{#modal-dialog
    close="closeAboutModal"
    targetAttachment="center"
    translucentOverlay=true}}


    <button class="close" {{action "closeAboutModal"}} title="Close the modal" data-test="modal-close" data-ember-action="742">
      <span class="icon-close modal-close-btn">X</span>
      <span class="hidden">Close modal</span>
    </button>

<div class="main-title">
  <div class="version">versión {{version.version}}</div>
</div>
<div>
<p>Huayra Ritmos es una aplicación para definir patrones rítmicos</p>
<p>Actualmente contiene 3 "packs" de sonidos:</p>
<ul>
        <li>Básicos</li>
        <li>bits - 8bit</li>
        <li>Alchemist - Breakbeat / Jungle</li>
</ul>
</div>

    <div class="bottom-bar">
      <button class='btn btn-default' {{action "closeAboutModal"}}>Aceptar</button>
    </div>


{{/modal-dialog}}
