<h2 id='title'>huayra-ritmos <small>versión {{version.version}}</small></h2>

{{outlet}}

<p>
 {{#link-to "pattern" class='btn btn-success'}}{{fa-icon "plus"}} Crear un pattern{{/link-to}}
</p>

{{#link-to "playground"}}Ir al playgound{{/link-to}}
