<div class="main-title">
  <div class="version">versión {{version.version}}</div>
</div>

<div class='main-content'>
  <p>
   <button {{action "new"}} class='btn btn-success'>{{fa-icon "plus"}} Crear un nuevo proyecto de ritmos </button>
  </p>
</div>

<div>
  {{huayra-project-list model=model onDelete='deleteRecord'}}
</div>

<div class='invisible'>
  {{#link-to "playground"}}Ir al playgound (o zona de pruebas){{/link-to}}
</div>
