<div class="ui grid">
  <div class="row">
    <div class="two wide column">
      <img src="img/huayra-ritmos-logo.png" alt="" />
    </div>

    <div class="twelve wide column">
      <h2 class="titulo">Huayra Ritmos</h2>
    </div>
  </div>
</div>


<div class='main-content'>

  <button {{action "new"}} id="crear-proyecto" class="ui button" type="button"><i class="plus icon"></i> Crear un proyecto nuevo</button>

  <div>
    {{huayra-project-list model=model onDelete='deleteRecord'}}
  </div>

</div>
