<div class="uk-flex">

  <div>
    <img src="img/huayra-ritmos-logo.png" alt="" />
  </div>

  <div>
    <h2 class="titulo">Huayra Ritmos</h2>
  </div>

  <div class="uk-flex-item-1">
    <div class="version">versión {{version.version}}</div>
  </div>

</div>


<div class='main-content'>

  <button {{action "new"}}  class="uk-button" type="button">{{fa-icon icon="plus"}} Crear un proyecto nuevo</button>

  <div>
    {{huayra-project-list model=model onDelete='deleteRecord'}}
  </div>

</div>
