<div class="main-title">
  <h2 id='title'>huayra-ritmos <small>versión {{version.version}}</small></h2>
</div>

<div class='main-content'>
  <p>
   <button {{action "new"}} class='btn btn-success'>{{fa-icon "plus"}} Crear un nuevo ritmo </button>
  </p>

  {{#link-to "playground"}}Ir al playgound (o zona de pruebas){{/link-to}}
</div>

{{huayra-project-list model=model onDelete='deleteRecord'}}
