
<div class="buttons">
  {{#link-to "index" class='btn btn-danger'}}Regresar{{/link-to}}
</div>

<div class="buttons">
  <button class="btn btn-success" {{action 'openDialog'}}>openDialog</button>
  <button class="btn btn-success" {{action 'saveDialog'}}>saveDialog</button>
  <button class="btn btn-success" {{action 'createTemporallyDirectory'}}>createTemporallyDirectory</button>

  <button class="btn btn-success" {{action 'copyFileAndCompress'}}>copyFile and compress</button>
</div>
